@tailwind base;
@tailwind components;
@tailwind utilities;

.kum-img::-webkit-scrollbar {
  height: 8px;
}

.kum-img::-webkit-scrollbar-track {
  background: #1c1c1c;
}

.kum-img::-webkit-scrollbar-thumb {
  @apply rounded-lg;
  background: #888;
}

.kum-img::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hero {
  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 0.8) 90%,
    rgba(0, 0, 0, 0.2)
  );
  mask-image: linear-gradient(rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.2));
}

.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  background: #1c1c1c;
}

.modal::-webkit-scrollbar-thumb {
  @apply rounded-lg;
  background: #888;
}

.modal::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal {
  gap: 100px;
  padding-top: 40px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}
